html,
body,
ul,
li {
    margin: 0; padding: 0;
}

/* make tablecloth background */
body {
    background: white;
    background-image: linear-gradient(90deg, rgba(200,0,0, .40) 50%, transparent 0), 
    linear-gradient(rgba(200,0,0,.40) 50%, transparent 0);
    background-size: 40px 40px;    
}

/* make the plate */
.plate {
    background: white;
    background-position: 50% 0%;
    width: 650px;
    height: 650px;
    margin: 100px auto 0px;

    /* Plate Styling */
    position: relative;
    box-sizing: border-box;
    padding: 33px (33px + 20);
    border-radius: 400px;
    box-shadow: 
      /* Outer Plate Bevel */
      inset 0 5px 3px 0 rgba(255,255,255,.5), /* Top */
      inset 0 -5px 3px 0 rgba(0,0,0,.78), /* Bottom */
      inset 3px 0 2px 0 rgba(0,0,0,.25), /* Left */
      inset -3px 0 2px 0 rgba(0,0,0,.25), /* Right */
      
      /* Outer Plate Shadow */
      inset 0 5px 46px 0 rgba(0,0,0,.4),
      0 5px 13px 0 rgba(0,0,0,.75);
}
  .plate::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 110px;
    right: 110px;
    bottom: 110px;
    left: 110px;
    border-radius: 400px;
    box-shadow:
    /* Inner Plate Shadow */
      inset 0 0 4px 3px rgba(255,255,255,1), /* Top */
      inset 0 8px 16px 4px rgba(0,0,0,.25) /* Top */
      ;
  }

/* place nibblr logo */

@font-face {
    font-family: NoodleScript;
    src: url("./font/nooshade.ttf");
}

.plate::after {
    content: "Nibblr.";
    font-family: NoodleScript;
    position: absolute;
    top: 30px;
    left: 200px;
    font-size: 90px;
    color: rgba(0,0,0,.75);
}

/* position card stack */
#viewport .stack {
    width: 275px;
    height: 275px;
    top: 185px;
    position: absolute;
    left: 44%; 
    margin-left: -100px; 
    border-radius: 10px;
}

/* style cards */
#viewport li {
    width: 275px; 
    height: 275px;
    list-style: none; 
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
}

/* Rotate cards */
#viewport li.in-deck:nth-child(2) {
    top: 4px; transform: translate(-4px, -2px) rotate(-1deg);
}

#viewport li.in-deck:nth-child(3) {
    top: 2px; transform: translate(2px, 2px) rotate(0.4deg);
}

/* card img styling */
img {
    width: 275px;
    height: 275px;
    margin: auto auto;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 5px;
    -webkit-user-drag: none;
} 